<template name="createCrew">
    <h1>Карточка нового участника</h1>

    <form id='createMember'>
        <table>
            <tr>
                <td colspan="2" class="header" >Членский билет №<input type="number" id="tNumber" value="{{guessNumber}}"> от <input type="date" id="dCreated" value="{{today}}"></td>
            </tr>
            <tr class="avatar">
                <td class="td3 image-container">
                    <input type="file" id="uploadPhoto" />
                    <img src="{{tempAvatar}}">
                    <div id="fileMenu"><span class="choosePhoto">загрузить фото</span></div>
                </td>
                <td class="td1" rowspan="2">
                    <input type="text" id="lname" placeholder="Фамилия" tabindex="1"> <input type="checkbox" id="mStatus" tabindex="3"/> <span class="small">Женат / Замужем</span><br />
                    <input type="text" id="fname" placeholder="Имя, Отчество" tabindex="2"><br />
                    <input type="date" id="dBirth" tabindex="3"> <span class="small">дата рождения</span><br />
                    <input type="text" id="job" placeholder="Место работы" tabindex="4">, <input type="text" id="speciality" placeholder="Специальность" tabindex="5"><br />
                    <input type="text" id="position" placeholder="Должность" tabindex="6">, <input type="text" id="aDegree" placeholder="Ученая степень" tabindex="7"><br />
                    <input type="text" id="section" placeholder="Основная секция" tabindex="8">
                </td>
            </tr>
            <tr>
                <td class="td3"></td>
            </tr>
            <tr>
                <td class="td3"></td>
                <td class="td1">
                    <input type="text" id="address" placeholder="Домашний адрес" tabindex="9"><br />
                    <input type="text" id="pnumber" placeholder="Контактный номер" tabindex="10">
                    <input type="text" id="email" placeholder="Электронная почта" tabindex="11"><br />
                    <input type="checkbox" id="alert"  tabindex="12"/> <span class="small">Получать уведомления по электронной почте</span><br />
                </td>
            </tr>

            <tr>
                <td class="td3"></td>
                <td class="td1 submitForm"><input type="submit" value="Зарегистрировать участника"  tabindex="13"/></td>
            </tr>


        </table>
    </form>
</template>