<template name="viewCrew">
    <h1 class="noprint">Просмотр карточки</h1>
    <h2>Членский билет №{{data.tNumber}}</h2>
    <h4>от {{data.dCreated}}</h4>
    <div id="viewContent">
        <img src="{{data.photo}}" style="float: left; margin-right: 15px;"/>
        <div>
            <span class="key">Фамилия</span><span class="value">{{data.lname}}</span>
            <span class="key">Имя и отчество</span><span class="value">{{data.fname}}</span>
            <span class="key">Дата рождения</span><span class="value">{{data.hDate}}</span>
            <span class="key">Специальность</span><span class="value">{{data.speciality}}</span>
            <span class="key">Ученая степень</span><span class="value">{{data.aDegree}}</span>
            <span class="key">Место работы</span><span class="value">{{data.job}}</span>
            <span class="key">Занимаемая должность</span><span class="value">{{data.position}}</span>
            <span class="key">Секция</span><span class="value">{{data.section}}</span>
            <span class="key">Семейное положение</span><span class="value">{{#if data.mStatus}}женат / замужем{{else}}холост / не замужем{{/if}}</span>
            <span class="key">Домашний адрес</span><span class="value">{{data.address}}</span>
            <span class="key">Телефон</span><span class="value">{{data.pnumber}}</span>
            <span class="key">Электронная почта</span><span class="value">{{data.email}}</span>
            <span class="key">Получать уведомления</span><span class="value">{{#if data.alert}}по электронной почте{{else}}почтой России{{/if}}</span>

            <!-- <p>Фамилия: {{data.lname}}<br/>Имя и отчество: {{data.fname}}<br/>Дата рождения: {{data.hDate}}</p>
            <p>Специальность: {{data.speciality}}<br/>Ученая степень: {{data.aDegree}}</p>
            <p>Место работы: {{data.job}}<br/>Занимаемая должность: {{data.position}}</p> -->
        </div>
    </div>
</template>
