<template name="viewAndEdit">
    <h1>View and edit {{data.fname}}</h1>
    <div class="viewNeditWrapper">
        <div class="tabs">
            <div id="clickToView">Просмотр</div>
            <div id="clickToEdit">Редактирование</div>
            <div id="clickToPrint">Печать</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
        <div class="mainWindow">
            <div id="viewCard">
                view card
            </div>
            <div id="editCard">
                edit card
            </div>
            <div id="printCard">
                print card
            </div>
        </div>
    </div>
</template>