<template name="feedback">
    <h1>Форма обратной связи с администрацией ресурса</h1>
    <form class="feedback">
        <table id="newIssue">
            <tr>
                <td colspan="4">Ваш электронный адрес:&nbsp;<input type="email" id="email" placeholder="email@example.com" /></td>
            </tr>
            <tr>
                <td colspan="4"><textarea id="input"></textarea></td>
            </tr>
            <tr>
                <td colspan="4"><input type="submit" id="feedbackSubmit" value="Написать администрации"/></td>
            </tr>
        </table>
    </form>
</template>