<head>
    <title>SONEK ticket tracker</title>
    <link rel="icon" href="/favicon.ico" type="image/ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<template name="layout">
    {{#if Template.subscriptionsReady}}
    <div class="page-wrap">

            <div id="content">
                <div id="leftMenu">
                    <table>
                        <tr>
                            <td class="menu-item"><img src="/images/logo.png" /></td>
                        </tr>
                {{#if currentUser}}
                        <tr>
                            <td class="menu-item"><a href="/">Учетные карточки</a></td>
                        </tr>
                        <tr>
                            <td class="menu-item">{{birthdays}}<span class="bday-alert">&#9728;</span><a href="/birthDays">Дни рождения</a><span class="bday-alert">&#9728;</span></td>
                        </tr>
                        <tr>
                            <td class="menu-item"><a href="/createCrew">Регистрация участника</a></td>
                        </tr>
                        <tr>
                            <td class="menu-item"></td>
                        </tr>
                    {{else}}
                    <tr>
                        <td class="menu-item"></td>
                    </tr>
                    <tr>
                        <td class="menu-item"></td>
                    </tr>
                    <tr>
                        <td class="menu-item"></td>
                    </tr>
                    <tr>
                        <td class="menu-item"></td>
                    </tr>
                {{/if}}

                        <tr>
                            <td class="menu-item"></td>
                        </tr>
                        <tr>
                            <td class="menu-item"><a href="#" id="logout">Выход</a></td>
                        </tr>
                    </table>
                </div>
                {{#if currentUser}}
                <div id="yield">
                {{> yield}}
                </div>
                {{else}}
                    {{> login}}
                {{/if}}
            </div>


    </div>
    {{/if}}
</template>