<head>
    <title>SONEK ticket tracker</title>
    <link rel="icon" href="/favicon.ico" type="image/ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<template name="layout">
    {{#if Template.subscriptionsReady}}
        <div class="page-wrap">
            {{#if currentUser}}
                <div id="menu">
                    <span class="floatRight">
                    {{loggedIn}} (<a href="{{pathFor route='list'}}" class="logOut">выход</a>)
                    </span>
                    {{#if isAdmin}}
                        <span class="floatRight"><a href="{{pathFor route='createCrew'}}">Добавить пользователя</a></span>
                    {{/if}}
                    <span class="floatRight"><a href="{{pathFor route='list'}}">Список заявок</a></span>
                    <span class="floatRight"><a href="{{pathFor route='createNew'}}">Создать заявку</a></span>

                    <a href="/" id="logo"><img src="/images/logo.png"/></a>
                </div>

                {{> yield}}
            {{else}}
                {{> login}}
            {{/if}}
        </div>
        {{>copyright}}
    {{/if}}
</template>