<template name="list">
    <h2>Открытые заявки</h2>
    {{#if Template.subscriptionsReady}}
    <div class="separator">
        <span class="menu"><a href="{{pathFor route='createNew'}}">Создать заявку</a></span>
    </div>
    <table id="issueList">
        <tr class="header">
            <td>Дата создания</td>
            <td>Дата назначения</td>
            <td>Исполнитель заявки</td>
            <td>Краткое описание</td>
        </tr>
        {{#each issues}}
            <tr>
                <td><a href="{{pathFor route='viewIssue'}}" class="viewIssue" id="{{_id}}">{{createdAt}}</a></td>
                <td>{{assignDate}}</td>
                <td>{{performer}}</td>
                <td><a href="{{pathFor route='viewIssue'}}" class="viewIssue" id="{{_id}}">{{title}}</a></td>
            </tr>
        {{/each}}
    </table>
    <div class="separator">
        <span class="hide"><input type="checkbox" class="hideComplete" checked="checked" />Спрятать закрытые
            заявки</span>
    </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>