<template name="list">
    <h2>Открытые заявки</h2>
    {{#if Template.subscriptionsReady}}
    <div class="separator">
        <span class="floatRight"><a href="{{pathFor route='createNew'}}">Создать заявку</a></span>
    </div>
    <table id="issueList">
        <tr class="header">
            <th class="performer">Назначено</th>
            <th class="createdAt">Дата создания</th>
            <th class="assignDate">Срок актуальности заявки</th>
            <th class="issueTitle">Краткое описание</th>
        </tr>
        {{#each issues}}
            <tr>
                <td>{{performer}}</td>
                <td><a href="{{pathFor route='viewIssue'}}" class="viewIssue" id="{{_id}}">{{parseDate createdAt}}</a></td>
                <td>{{parseDate assignDate}}</td>

                <td class="issueTitle"><a href="{{pathFor route='viewIssue'}}" class="viewIssue" id="{{_id}}">{{title}}</a></td>
            </tr>
        {{/each}}
    </table>
    <div class="separator">
        <span class="hide"><input type="checkbox" class="hideComplete" checked="checked" />Спрятать закрытые заявки</span>
    </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>