<template name="closeIssue">
    {{#if Template.subscriptionsReady}}
        {{#if issueActive}}
            <h2>Прокомментировать и закрыть заявку</h2>

            <form id="createIssue" class="{{data._id}}">
                <table id="newIssue">
                    <tr>
                        <td colspan="2"><textarea id="input"></textarea></td>
                    </tr>
                    <tr>
                        <td><input type="submit" id="editIssue" value="Оставить комментарий и закрыть заявку"/></td>
                        <td><input type="button" id="closeIssue" value="Удалить заявку" /></td>
                    </tr>
                </table>
            </form>
        {{else}}
            {{> issueClosed}}
        {{/if}}
    {{/if}}
</template>