<template name="createNew">
    <h1>Создание новой заявки</h1>

    <form id="createIssue">

        Заявленная неисправность: <input type="text" placeholder="Заявленная неисправность" id="issue"/><br/>
        Назначено:
        <select id="selector">
            <option value="Всем">Всем</option>
            {{#each crew}}
                <option value="{{userId}}">{{lname}} {{fname}}</option>
            {{/each}}
        </select>

        <select class="district-select">
                <option value="" selected disabled>Выбирете район</option>
            {{#each districts}}
                <option value="{{_id}}">{{district}}</option>
            {{/each}}
        </select>
        <select id="addressor" {{isDisabled}}>
                <option value="" selected disabled>Выбирете улицу</option>
            {{#each address.streets}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        Дата назначения: <input type="text" id="datetimepicker" placeholder="Дата назначения"><br/>
        <textarea name="input" id="input"></textarea><br/>
        <input type="submit" value="Создать заявку"/>
    </form>
</template>