<template name="createNew">
    <h1>Создание новой заявки</h1>

    <form id="createIssue">
        <table id="newIssue">
            <tr>
                <td>Номер телефона (10 цифр):</td>
                <td colspan="3">
                    {{#if isAdmin}}
                        <i>+7&nbsp;</i><input type="number" placeholder="1234567890" id="pnumber" value="1234567890"/>
                    {{else}}
                        <i>+7&nbsp;</i><input type="number" placeholder="1234567890" id="pnumber"/>
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>Заявленная неисправность:</td>
                {{#if isAdmin}}
                    <td colspan="3"><input type="text" placeholder="Кратко, что именно случилось" id="issue" value="Тестовая заявка"/></td>
                {{else}}
                    <td colspan="3"><input type="text" placeholder="Кратко, что именно случилось" id="issue"/></td>
                {{/if}}
            </tr>
            <tr>
                <td>Назначено:</td>
                <td>
                    <select id="selector">
                        <option value="Всем">Всем</option>
                        {{#if isAdmin}}
                            {{#each crew}}
                                <option value="{{userId}}">{{lname}} {{fname}}</option>
                            {{/each}}
                        {{/if}}
                    </select>
                </td>
                <td colspan="2">Предел актуальности заявки:&nbsp;<input type="text" id="datetimepicker"
                                                                        class="floatRight" placeholder="Выполнить до">
                </td>

            </tr>
            <tr>
                <td>Адрес:</td>
                <td colspan="3">
                    <select class="district-select">
                        <option value="" selected disabled>Выбирете район</option>
                        {{#each districts}}
                            <option value="{{_id}}">{{district}}</option>
                        {{/each}}
                    </select>
                    <select id="addressor" {{isDisabled}}>
                        <option value="" selected disabled>Выбирете улицу</option>
                        {{#each address.streets}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <input type="text" class="house-number"/>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <textarea name="input" id="input"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td><input type="submit" class="issueSubmit" value="Создать заявку"/></td>
            </tr>
        </table>
    </form>
</template>