<template name="editIssue">
    {{#if Template.subscriptionsReady}}
    <h1>Редактирование заявки</h1>

    <form id="editIssue" class="{{data._id}}">
        Заявленная неисправность: <input type="text" value="{{data.title}}" id="issue"/><br/>
        Назначено:
        <select id="selector">
            <option value="Всем">Всем</option>
            {{#each crew}}
                <option {{isSelected userId}} class="{{userId}}" value="{{userId}}">{{lname}} {{fname}}</option>
            {{/each}}
        </select>
        Дата назначения: <input type="text" id="datetimepicker" value="{{data.assignDate}}"><br/>
        {{> cleditor value=data.message id="input"}}<br/>
        <input type="submit" value="Редактировать заявку"/>
    </form>
    {{/if}}
</template>