<template name="editIssue">
    <h1>Редактирование заявки</h1>

    <form id="editIssue" class="{{data._id}}">

        <input type="text" value="{{data.title}}" id="issue"/><br />
        <input type="text" id="datetimepicker" value="{{data.assignDate}}">
        <select id="selector">
            <option value="Всем">Всем</option>
            {{#each crew}}
                <option value="{{userId}}">{{lname}} {{fname}}</option>
            {{/each}}
        </select><br/>
        <textarea name="input" id="issueComment" value="{{data.message}}"></textarea><br/>
        <input type="submit" value="Редактировать заявку"/>
    </form>
</template>