<template name="viewIssue">
    {{#if Template.subscriptionsReady}}
        <h2>Просмотр текущей заявки</h2>

        <h3>{{data.title}}</h3>
        {{#unless issueActive}}
            <h3>Внимание: заявка закрыта, возможность редактирования отключена.</h3>
        {{/unless}}
        <form id="createIssue">
            <table id="newIssue">
                <tr>
                    <td>Номер телефона:</td>
                    {{#if issueActive}}
                        <td colspan="3">+7{{{data.pnumber}}}</td>
                    {{else}}
                        <td colspan="3"><i>Заявка закрыта, контактные данные скрыты</i></td>
                    {{/if}}
                </tr>
                <tr>
                    <td>Заявленная неисправность:</td>
                    <td colspan="3">{{{data.title}}}</td>
                </tr>
                <tr>
                    <td>Назначено:</td>
                    <td>
                        {{{performer}}}
                    </td>
                    {{#if issueActive}}
                        <td colspan="2">Предел актуальности заявки:&nbsp;{{parseDate data.assignDate}}</td>
                    {{else}}
                        <td colspan="2"><i>Заявка не актуальна</i></td>
                    {{/if}}
                </tr>
                <tr>
                    <td>Адрес:</td>
                    <td colspan="3">
                        {{{data.address}}},&nbsp;{{{data.hnumber}}}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <textarea name="input" id="input" class="cleditorDisabled">{{{data.message}}}</textarea>
                    </td>
                </tr>
                <tr>
                    {{#if isAdmin}}
                        {{#if issueActive}}
                            <td colspan="2"><input type="button" class="{{data._id}}" id="editIssue"
                                                   value="Редактировать заявку"/></td>

                            <td colspan="2"><input type="button" class="{{data._id}}" id="closeIssue"
                                                   value="Закрыть заявку"/></td>
                        {{else}}
                            <td colspan="3"></td>
                            <td><input type="button" class="{{data._id}}" id="resumeIssue" value="Возобновить заявку"/>
                            </td>
                        {{/if}}
                    {{/if}}
                </tr>
            </table>
        </form>
    {{else}}
        {{> loading}}
    {{/if}}

</template>